<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="orm.accounting" >
	<select id="queryAccSetting" parameterType="java.lang.String" resultType="java.util.HashMap">
		select * from acc_accounting_setting
		  <where> 
			1=1 
			<if test="TRANSTYPE!=null">
			and TRANS_TYPE=#{TRANSTYPE,jdbcType=VARCHAR}
			</if>
		</where> 
		order by ENTRY_ORDER
	</select>
	
	<select id="queryAccForUpdate" parameterType="java.lang.String" resultType="java.util.HashMap">
		select * from ACC_INFO
		  <where> 
			1=1 
			<if test="ACCNO!=null">
			and ACCNO=#{ACCNO,jdbcType=VARCHAR}
			</if>
		</where> 
		for update
	</select>
	
	<update id="updateAcc" parameterType="java.util.HashMap">
		update ACC_INFO 
		set 
		<if test="AMT!=null">
			AMT=#{AMT},
		</if>	
		ACCNO=ACCNO	
		where ACCNO=#{ACCNO}
	</update>
	
	
</mapper>